<configuration>
    <springProfile name="test">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n
                    <!--%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg %mdc%n-->
                </pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!test">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <level>severity</level>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </appender>
    </springProfile>

    <logger name="no.roar.kafka.streams" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
